<br />
<br />

<p>
  <button>
    <a href="/productNoWebsocket">
      productos no websocket</a></button>
</p>
<p>
  <button>
    <a href="/realtimeproducts">
      productos websocket</a></button>
</p>